<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/cdn/CSS/style.css">
</head>
<body>
    <div class="top-container">
        <div class="top-box"><h1 class="top-header">BillSplitter</h1></div>
    </div>
    <div class="card-container">
        <div class="card-box">
            <h2 class="card-header" > <%=error %> </h2>
            <div class="card-message-container">
                    <p style="text-align: center;"><%=message %></p>
                    <ul>
                        <% tips.forEach((item) => { %>
                            <li><%= item%></li>
                        <%}) %>
                    </ul>
            </div>
            <div class="card-button-container">
                <button class="card-button"><%= button %></button>
            </div>
        </div>
    </div>
    <script>
        const cardButton = document.querySelector('.card-button');
        cardButton.addEventListener('click', function(event) {
            window.location.href = '<%= link %>';
        })
    </script>
</body>
</html>